<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Clustering of Champaign City Data</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        width: 90%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>Champaign City Work</h1>
    <h3>Type of work: {{ type_of_work }}</h3>
    <form action="/" method="post">
      <input type="radio" name="citywork" value="flood" required="required"> Flooding
      <input type="radio" name="citywork" value="sewer backup"> Sewer
      <input type="radio" name="citywork" value="pick up dead animal">Dead Animals
      <input type="submit" value="Submit">

      <br>
    </form>

    <br>

    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: {{ lat }}, lng: {{ lng }}}
        });

        // Create an array of alphabetical characters used to label the markers.
        //var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var labels = '';

        var origLocations = JSON.parse('{{ origLocations|safe }}');
        console.log(origLocations[0])
        var fromProjection = 'PROJCS["NAD_1983_StatePlane_Illinois_East_FIPS_1201_Feet",GEOGCS["GCS_North_American_1983", DATUM["North_American_Datum_1983", SPHEROID["GRS_1980",6378137,298.257222101]], PRIMEM["Greenwich",0], UNIT["Degree",0.017453292519943295]],PROJECTION["Transverse_Mercator"],PARAMETER["False_Easting",984249.9999999999],PARAMETER["False_Northing",0],PARAMETER["Central_Meridian",-88.33333333333333],PARAMETER["Scale_Factor",0.999975],PARAMETER["Latitude_Of_Origin",36.66666666666666],UNIT["Foot_US",0.30480060960121924],AUTHORITY["EPSG","102671"]]';
        var toProjection = "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs ";

        var locations = [];
        for (var i = origLocations.length - 1; i >= 0; i--) {
          var arr = proj4(fromProjection, toProjection, [origLocations[i]['lat'], origLocations[i]['lng']]);
          var arrToDict = {lat:arr[1], lng:arr[0]};
          locations.push(arrToDict);
        }
        console.log(locations);

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=initMap">
    </script>
  </body>
</html>